<h2 class="mb-3">Lista de Receitas</h2>

{{#if semReceitas}}
  <div class="alert alert-info" role="alert">
    Ainda não há nenhuma receita cadastrada.
  </div>
{{else}}
  <div class="row">
    {{#each receitas}}
      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{this.titulo}}</h5> <p class="card-text">Tempo de preparo: {{this.tempoDePreparo}} minutos.</p> </div>
          <div class="card-footer d-flex justify-content-between">
            <a href="/consultar/{{this.id}}" class="btn btn-sm btn-info">
              <i class="bi bi-info-circle"></i> Ver Detalhes
            </a>
            <a href="/alterar/{{this.id}}" class="btn btn-sm btn-warning mx-1">
              <i class="bi bi-pencil"></i> Alterar
            </a>
            <form action="/excluir/{{this.id}}" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir esta receita?');">
              <button type="submit" class="btn btn-sm btn-danger">
                <i class="bi bi-trash"></i> Excluir
              </button>
            </form>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}

<div class="mt-3">
    <a href="/" class="btn btn-secondary">Voltar</a>
</div>